body {
    background-color: lightgray;
}

header {
    text-align: center
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: darkorange;
}

footer {

}


.highlighted_link {
    color: black;
}