body {
    background-color: lightgray;
}

header {
    text-align: center;
    //background-image: linear-gradient(darkgray, gray)
}

header, footer {
    height: 200px;
    background-color: darkgray;
    border: 2px solid gray;
    transition: .25s
}

header img {
    height: 200px;
    border-radius: 50%;
    border: 5px solid darkorange;
    transition: .25s
}

header img:hover {
    border: 5px solid gray;
    box-shadow: darkorange 0 0 10px,
                darkorange 0 0 10px;
    transition: .5s
}

header h1 {

    color: darkorange;
    text-shadow: black 1px 1px 5px,
                gray -1px -1px 5px;
}

.subtitles {
    font-style: italic;
    //color: gray;
}

.subtitles:hover {
    color: black;
}

nav a {
    cursor: pointer;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: black;
}

li img {
    width: 300px;
    border: 2px solid gray;
}

li a:hover {
    color: black;
    text-shadow: darkorange 1px 1px 5px,
                  gray -1px -1px 5px;
}

footer {
    padding: 5px;
}


.shadowed {
    text-shadow: darkorange 1px 1px 5px,
                darkorange -1px -1px 5px;
}

p::selection {
    color: lightgray;
    background-color: gray;
}

.certifications li {
}

.certifications a {

}