body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    color: black;
}

header, footer {
    background-color: darkgray;
    border: 2px solid gray;
    transition: .25s
}

header {

    top: 0;
    width: 100%;
    text-align: center;
    border-top: 5px;
    border-bottom: 4px double darkorange;
    text-align: center;
    background-image: linear-gradient(darkgray, gray)
}

header img {
    right: 10px;
    height: 200px;
    border-radius: 50%;
    transition: .5s;
}

header img:hover {
    border-color: gray;
    box-shadow: darkorange 0 0 10px,
                darkorange 0 0 10px;
    transition: .25s
}

header h1 {
    position: absolute;
    left: 10%;
    color: darkorange;
    text-shadow: black 1px 1px 5px,
                gray -1px -1px 5px;
}

main {
    margin-top: 0px;
    padding: 2.5rem 0;
    background-color: rgba(200, 200, 200, .25)
}

p, h3 {
    padding: 0 2rem;
}

.subtitles {
    display: flex;
    position: absolute;
    top: 100px;
    left: 5%;
    font-style: italic;
    font-size: 24px;
    color: black;
}

#subtitle {
    opacity: .5;
}

#subtitle:hover {
    opacity: 1;
}

nav ul {
    display: flex;
    cursor: pointer;
    top: 0;
    left: 0;
    flex-direction: row;
}

#projects {
    background: rgba(150, 150, 150, .5);
/*     width:  100%; */
    border-top: 2px solid darkorange;
    border-bottom: 2px solid darkorange;
}
ul {
    display: flex;
    justify-content: space-evenly;
}

li h4 {
    text-align: center;
}

li {
    list-style: none;
    margin: 5px;
}

li a {
    text-decoration: none;
    color: black;
    padding: 0 1rem;
}

li img {
    width: 200px;
    border: 2px solid darkorange;
}

li img:hover {
    border-color: black;
}

li a:hover {
    color: black;
    text-transform: capitalize;
    text-shadow: darkorange 1px 1px 5px,
                  gray -1px -1px 5px;
}

footer ul{
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-top: 4px double darkorange;
    align-items: space-around;
    flex-wrap: wrap;
}

footer a {
    text-decoration: none;
    color: black;
}

.shadowed {
    text-shadow: darkorange 1px 1px 5px,
                darkorange -1px -1px 5px;
}
.social_media_links {
    color: #000000
}

p::selection {
    /*color: lightgray*/;
    background-color: gray;
}

#copyright a {
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    #hero_img {
        display: none;
    }
    header {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    header h1 {
        top: 10rem;
        width: 100%;
    }

    nav ul {
        flex-direction: column;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }
    #subtitle {
        display: none;
    }
    div h3 {
        color: lightgray;
        text-align: center;
        background: gray;
    }
    footer ul {
        flex-direction: column;
        align-items: center;
    }
    li a {
        
    }
}